body {
    min-width: 220px;
    background: #3B536B;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    background: #34495E;
    height: 36px;
}

header h1 {
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
}